.sidenav a{
	text-decoration: none;
}

.nav-wrapper {
	background-color: #5c95ff;
}

.nav-wrapper > a {
	text-decoration: none;
	font-family: 'Pacifico', cursive;
}

.nav-wrapper > a:hover {
	color: white;
}

.page-footer {
	background-color: #5c95ff;
}

.hvr-grow {
    text-decoration: none;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	text-decoration: none;
	color: white;
}

.brand-logo {
	font-size: 23px;
}

.hvr-grow-a:hover,
.hvr-grow-a:focus,
.hvr-grow-a:active {
	text-decoration: none;
	color: white;
	background-color: #5c95ff;
}

.slider .indicators .indicator-item.active{
	background-color: #5c95ff !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    padding: 21.2px 16px;
}

@media(max-width : 992px) {

	.nav-wrapper > a:hover {
		color: black;
	}
	
}

@media(min-width : 992px) {

	.nav-wrapper > a {
		padding-left: 35px;
	}
	
}